<div style="height: 10%;">
    <label>
        current folder:
        <input type="text" value="{{folder}}" onchange="window.location.href='path/'+this.value;">
    </label>
</div>
<div style="height:90%; text-align: center;" class="pure-g">
    <div class="pure-u-1-5">
        {{#avant}}
        <a href="/before">before</a>
        {{/avant}}
    </div>

    <div class="pure-u-3-5" style="height: 100%;">
        <img style="max-height:98%; margin:0 auto;" class="pure-img" src="/images/{{filename}}" alt="grand format"
             id="image_fullscreen">
    </div>


    <div class="pure-u-1-5">
        {{#apres}}
        <a href="/after">after</a>
        {{/apres}}
    </div>
</div>
